In [ ]:
import pandas as pd
import numpy as np
import pickle

#visualisaton
import matplotlib.pyplot as plt
import seaborn as sns

#model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

#performance
from sklearn.metrics import mean_squared_error,r2_score

In [ ]:
df=pd.read_csv('/content/realtor-data.csv')

In [ ]:
df.head()

,status,price,bed,bath,acre_lot,full_address,street,city,state,zip_code,house_size,sold_date
0,for_sale,105000.0,3.0,2.0,0.12,"Sector Yahuecas Titulo # V84, Adjuntas, PR, 00601",Sector Yahuecas Titulo # V84,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,for_sale,80000.0,4.0,2.0,0.08,"Km 78 9 Carr # 135, Adjuntas, PR, 00601",Km 78 9 Carr # 135,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,for_sale,67000.0,2.0,1.0,0.15,"556G 556-G 16 St, Juana Diaz, PR, 00795",556G 556-G 16 St,Juana Diaz,Puerto Rico,795.0,748.0,NaN
3,for_sale,145000.0,4.0,2.0,0.10,"R5 Comunidad El Paraso Calle De Oro R-5 Ponce,...",R5 Comunidad El Paraso Calle De Oro R-5 Ponce,Ponce,Puerto Rico,731.0,1800.0,NaN
4,for_sale,65000.0,6.0,2.0,0.05,"14 Navarro, Mayaguez, PR, 00680",14 Navarro,Mayaguez,Puerto Rico,680.0,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353910 entries, 0 to 353909
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   status        353910 non-null  object
 1   price         353910 non-null  float64
 2   bed           280357 non-null  float64
 3   bath          281626 non-null  float64
 4   acre_lot      283800 non-null  float64
 5   full_address  353910 non-null  object
 6   street        353781 non-null  object
 7   city          353858 non-null  object
 8   state         353910 non-null  object
 9   zip_code      353713 non-null  float64
 10  house_size    283442 non-null  float64
 11  sold_date     117939 non-null  object
dtypes: float64(6), object(6)
memory usage: 32.4+ MB

In [ ]:
#df.drop('full_address',axis=1,inplace=True)

KeyError: ignored

In [ ]:
df1=df.drop(columns=['street','sold_date','zip_code','status','city','state',])

In [ ]:
df_missing=df1.isna()
df_missing.head()

   price    bed   bath  acre_lot  house_size
0  False  False  False     False       False
1  False  False  False     False       False
2  False  False  False     False       False
3  False  False  False     False       False
4  False  False  False     False        True

In [ ]:
df_missing.sum()

price             0
bed           73553
bath          72284
acre_lot      70110
house_size    70468
dtype: int64

In [ ]:
len(df)

353910

In [ ]:
df_missing.sum()/len(df1)

price         0.000000
bed           0.207830
bath          0.204244
acre_lot      0.198101
house_size    0.199113
dtype: float64